/* General */
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #222;
  color: white;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a.active {
  border-bottom: 2px solid #00bcd4;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}

/* Sections */
section {
  padding: 50px;
  text-align: center;
}
